/* styles.css */

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Tres columnas de igual ancho */
    grid-template-rows: repeat(2, auto); /* Dos filas de altura automática */
    gap: 10px; /* Espacio entre las celdas */
    justify-content: center; /* Centrar horizontalmente las celdas */
    align-items: center; /* Centrar verticalmente las celdas */
    margin-top: 2rem;
  }
  
  .grid-item {
    /* background-color: #ddd; */
    
    text-align: center; /* Alineación del texto en el centro */
  }


  /* RESPONSIVE */   
@media (max-width: 1099.98px) {

  .grid-container {
    grid-template-columns: repeat(1, 1fr); /* Tres columnas de igual ancho */
    grid-template-rows: repeat(2, auto); /* Dos filas de altura automática */
    gap: 20px; /* Espacio entre las celdas */

  }

  .container {
    padding: 3rem;
  }
    
}

@media (max-width: 575.98px) {
  /* Estilos para dispositivos móviles */
}

/* Estilos para tabletas */
@media (min-width: 576px) and (max-width: 767.98px) {
  .grid-container {

    grid-template-columns: repeat(2, 1fr); /* Tres columnas de igual ancho */
    grid-template-rows: repeat(2, auto); /* Dos filas de altura automática */
    gap: 20px; /* Espacio entre las celdas */

  }
}

/* Estilos para pantallas más grandes */
@media (min-width: 768px) and (max-width: 1099.97px) {
  .grid-container {

    grid-template-columns: repeat(2, 1fr); /* Tres columnas de igual ancho */
    grid-template-rows: repeat(2, auto); /* Dos filas de altura automática */
    gap: 20px; /* Espacio entre las celdas */

  }
}