

/* CONTENEDOR PRINCIPAL DE TODO */
.containerApp {
    /* background: skyblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  
}


/* CONTENEDOR DE LA CARD */
.containerCard {
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: start;
    height: 90vh;
    width: 100%;
    margin-left: 6rem;
    margin-right: 3rem;
}

/* CARD COMO TAL */
.cardd{
    background: blue;
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    

}




/* Estilos para pantallas de escritorio estándar */
@media (max-width: 1099.98px) {
    .containerApp {
        height: auto;
    }
    .containerCard {
        flex-direction: column;
        margin-left: 0;
        margin-right:0;
        height: auto;
    }
    .cardd {  
        border-radius: 0;
    }
    
}
