

.containerContent{
    background: white;
    width: 70%;
    height: 100%;
    padding: 4rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}



/* RESPONSIVE */
@media (max-width: 1099.98px) {
    .containerContent{
        width: 100%;
        padding: 0;
        padding-bottom: 8rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}
