
.containerAbout{
    width: 100%; /* Ancho de ejemplo */
    height: 100%; /* Altura de ejemplo */
    overflow-y: auto; /* Añade una barra de desplazamiento vertical cuando sea necesario */
    /* Otros estilos para tu contenedor si los tienes */

}

.parrafo{
    text-align: justify;
    margin-top: 1rem;

}
.parrafo2{
    text-align: justify;
    margin-top: 2rem;

}

.padding{
    margin: 0;
    padding: 2rem 3rem;
    
}

.aboutme{
    padding: 0 3rem;
}



.showResponsive{
    display: inline;
    width: 100%;
}


.techs{
    padding: 0 3rem;
}
.head{
    /* background-color: red; */
    margin: 0;
}

.enfasis{
    color: #BD34FE;
    font-weight: bold;
}


 /* RESPONSIVE */
 @media (min-width: 1099.98px) {
    .showResponsive{
        display: none;
    }

  }
 @media (max-width: 1099.99px) {
    .head{
        padding: 2rem 3rem;
        background: #f0f0f0;
        font-weight: bold;
        color: #464646;
        
    }

    .im{
        display: none;
    }

  }
