
/* 
.containerAbout{


} */

.parrafo{
    text-align: justify;
    margin-top: 1rem;

}
.parrafo2{
    text-align: justify;
    margin-top: 2rem;

}

/* .aboutme{

}

.myTechs{
   

} */



.showResponsive{
    display: inline;
    max-width: 1080px;
}



 /* RESPONSIVE */
 @media (min-width: 1099.98px) {
    .showResponsive{
        display: none;
    }
    
    
      
  }
