
/* 
.containerAbout{


} */

.parrafo{
    text-align: justify;
    margin-top: 1rem;
    font-size: 14px;
}
.parrafo2{
    text-align: justify;
    margin-top: 2rem;
}

/* .aboutme{

}

.myTechs{
   

} */

