
.containerProfile{
    background: #BD34FE;
    width: 30%;
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    overflow: hidden;


    /* Imagen de fondo */
    background-image: url('../../assets/portada.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */

    /* Degradado superpuesto */
    position: relative; /* Para posicionar correctamente el degradado */
}

.containerProfile::before {
    content: ''; /* Añade un pseudo-elemento antes del contenido */
    position: absolute; /* Lo coloca encima de la imagen de fondo */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), #BD34FE); /* Degradado negro a #BD34FE */
}


.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    position: relative;
}


.img {
    width: 10rem;
    height: 10rem;
    border: 3px solid white;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 2rem;
}


.hideResponsive{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.showResponsive {
    display: none;
}




.copyright{
    display: inline-block;
    position: relative;
}


  /* RESPONSIVE */
  @media (max-width: 1099.98px) {
    .containerProfile{
        width: 100%;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        padding-top: 1rem;

    }
    .img {
        width: 6rem;
        height: 6rem;
        border: none;
        margin-top: 0;
    }

    .head{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .span{
        margin-top: 12px;
        font-weight: 700;
        font-style: italic;
    }
    .copyright{
        display: none;
    }

    .showResponsive {
        display: inline-block;
    }

    .hideResponsive{
        display: none;
    }
    
      
  }