

/* CONTENEDOR PRINCIPAL DE TODO */
.containerApp {
    /* background: skyblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  
}


/* CONTENEDOR DE LA CARD */
.containerCard {
    /* background: white; */
    display: flex;
    justify-content: center;
    align-items: start;
    height: 90vh;
    width: 100%;
    margin-left: 10rem;
    margin-right: 5rem;
}

/* CARD COMO TAL */
.cardd{
    /* background: blue; */
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 10px 0 rgba(125, 125, 125, 0.5);

}






/* Estilos para teléfonos móviles pequeños (portrait mode) */
@media (max-width: 575.98px) {
/* Estilos específicos para esta resolución */
}

/* Estilos para teléfonos móviles (landscape mode) y tablets pequeñas */
@media (min-width: 576px) and (max-width: 767.98px) {
/* Estilos específicos para esta resolución */
}

/* Estilos para tablets y pantallas pequeñas de escritorio */
@media (min-width: 768px) and (max-width: 991.98px) {
/* Estilos específicos para esta resolución */
}

/* Estilos para pantallas de escritorio estándar */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .containerCard {
        margin-left: 6rem;
        margin-right: 3rem;
    }
    
}

/* Estilos para pantallas de escritorio grandes */
@media (min-width: 1200px) {
/* Estilos específicos para esta resolución */
}