/* global.css */


/* Variables */
:root {
  --color-background: #242424;
  --font-family: 'Inter', sans-serif;
  --color-text: #fff;
}





/* Establecer fondo */
body {
  background-color: var(--color-background);
}

/* Utilizar la tipografía */
body {
  font-family: var(--font-family);
}

/* Establecer color de texto */
body {
  color: var(--color-text);
}
